.hero {
  background-color: var(--sec-bgc-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    @media screen and (min-width:1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--add-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
}
