.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  // font-size: 26px;
  // line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
    &__text {
      color: var(--accent-color)
    }
    &--inverse {
      color: var(--add-color)
    }
}
