:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --add-color: #ffffff;
  --main-bgc-color: #ffffff;
  --sec-bgc-color: #2f303a;
  --add-bgc-color: #f5f4fa;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}